@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* General section styling to cover full screen */
.section-one {
  margin-top: 2rem;
  height: 100vh; /* Full viewport height */
  width: 100vw;
  display: flex; /* Flexbox for alignment */
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
}

/* Optional: You may need to adjust the height in case of a different navbar size */
@media (max-width: 768px) {
  .section {
    margin-top: 3rem; /* Adjust for smaller screens */
  }
}

@media (max-width: 480px) {
  .section {
    margin-top: 2rem; /* Further adjustment for very small screens */
  }
}

.video-container {
  position: fixed; /* Keeps the video fixed in the background */
  top: 0;
  left: 0;
  width: 100vw; /* Full viewport width */
  height: 100vh; /* Full viewport height */
  z-index: -1; /* Places the video behind all other content */
  overflow: hidden; /* Prevents overflow */
}

.video-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  backdrop-filter: blur(10px); /* Apply blur effect to the background */
  -webkit-backdrop-filter: blur(10px); /* Safari support */
  background-color: rgba(0, 0, 0, 0.5); /* 50% black background */
  z-index: 1; /* Ensures the blur layer is above the video */
}

/* Video styles to ensure it covers the container properly */
.video-container video {
  width: 100vw; /* Full viewport width */
  height: 100vh; /* Full viewport height */
  object-fit: cover; /* Ensures the video covers the container without stretching */
  position: relative; /* Positions the video correctly within the container */
  z-index: -1; /* Places the video under the blur effect */
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  transition: background-color 0.5s ease;
  z-index: 1000;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.505);
  border: 1px solid #ffffff;
  border-radius: 20px;
  padding: 1rem 2rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.575);
  margin-right: 2rem;
  transition: display 0.5s ease-in-out;
}

.navbar-container.scrolled {
  display: none;
}

.navbar-brand {
  padding: 0 2rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
}

.navbar-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-link {
  font-size: x-large;
  color: #ffffff;
  text-decoration: none;
  margin: 0 10px;
  transition: color 0.2s ease;
}

.navbar-link:hover {
  color: #ffffff7a;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .navbar {
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem;
  }

  .navbar-container {
    flex-direction: row;
    align-items: center;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    margin-right: 1rem;
    width: auto;
  }

  .navbar-brand {
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
  }

  .navbar-links {
    flex-direction: row;
    margin-top: 0;
    justify-content: center;
  }

  .navbar-link {
    margin: 0 5px;
    font-size: medium;
  }
}

@media (max-width: 480px) {
  .navbar-brand {
    font-size: 1rem;
  }

  .navbar-link {
    font-size: small;
  }

  .navbar-container {
    padding: 0.5rem;
    margin-right: 1rem;
  }
}

/* Container for homepage content */
.homepage-container {
  display: flex;
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
  width: 80%;
  max-width: 1200px; /* Limit width for larger screens */
  margin: 0 auto; /* Center container horizontally */
  padding: 1rem; /* Padding for responsiveness */
  box-sizing: border-box; /* Include padding and border in element's total width and height */
}

/* Ensure left and right containers take equal width */
.left-container,
.right-container {
  flex: 1; /* Equal flex basis */
}

.homepage-text h3 {
  margin: 0;
  margin: 0;
  font-size: 3rem;
  background: linear-gradient(45deg, #7c4dff, #3efee8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.homepage-text h1 {
  font-size: 7rem;
  margin: 0 ;
  background: linear-gradient(
    90deg,
    #7c4dff 0%,
    #3efee8 14.28%,
    rgb(236, 245, 69) 28.57%,
    #3efee8 42.85%,
    #7c4dff 57.14%,
    #3efee8 71.42%,
    rgb(236, 245, 69) 85.71%,
    #7c4dff 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 700% 100%;
  animation: gradientScroll 50s linear infinite;
}

@keyframes gradientScroll {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: -700% 50%;
  }
}

.homepage-text h4 {
  font-size: 2rem;
  background: linear-gradient(45deg, #7c4dff, #3efee8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Homepage text styling */
.homepage-text {
  align-items: left; /* Center text horizontally */
}

/* Button styling */
.chatbot-button {
  display: block;
  margin: 0 auto; /* Center button horizontally */
  transform: translateY(-50%);
  background-image: linear-gradient(
    90deg,
    #7c4dff2c,
    #3efee820,
    rgba(236, 245, 69, 0.128)
  );
  border: 5px solid;
  font-size: 2rem;
  color: #f5f5f5;
  cursor: pointer;
  outline: none;
  border-image: linear-gradient(90deg, #7c4dff, #3efee8, rgb(236, 245, 69));
  border-image-slice: 1;
  transition: background-color 0.2s ease-in-out;
  border-radius: 0;
}

.chatbot-button:hover {
  background-color: rgba(255, 255, 255, 0.144);
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .homepage-container {
    flex-direction: column; /* Stack items vertically on small screens */
    height: auto; /* Allow height to adjust for smaller screens */
  }

  .left-container,
  .right-container {
    width: 100%; /* Full width on small screens */
    text-align: center; /* Center text in containers */
  }

  .homepage-text {
    font-size: smaller; /* Adjust font size for smaller screens */
  }


  .chatbot-button {
    margin-top: 1rem; /* Space between elements on smaller screens */
    border: 2px solid;
    border-image: linear-gradient(90deg, #7c4dff, #3efee8, rgb(236, 245, 69));
    border-image-slice: 1;
  }
}

@media (max-width: 480px) {
  .homepage-text {
    font-size: x-small; /* Further reduce font size */
  }

  .chatbot-button {
    font-size: small; /* Adjust button font size */
  }
}

/* src/styles/chatbot.css */
.chatbot-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0;
  margin: 0;
  z-index: 2000;
  animation: opening 0.3s forwards;
}

@keyframes opening{
  0% {
    transform: scale(0.7);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.chatbot-header {
  background-color: #444;
  color: #fff;
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #555;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chatbot-header h2 {
  width: max-content;
  margin: 0;
  color: #ccc;
  padding-left: 1rem;
}

.chatbot-header .close-button {
  background-color: #444;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.chatbot-chat {
  padding: 20px;
  background-color: #333;
  height: calc(100vh - 120px);
  overflow-y: auto;
  width: 100%;
}

.chatbot-messages {
  display: flex;
  flex-direction: column;
}

/* Default styles for messages */
.message {
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  max-width: 80%;
  word-wrap: break-word;
}

/* User message */
.message.user {
  align-self: flex-end;
  background-color: #007bff;
  color: #ffffff;
}

/* Bot message */
.message.bot {
  align-self: flex-start;
  background-color: #e0e0e0;
  color: #000000;
}

/* Media queries for desktop screens */
@media (min-width: 769px) {
  .message.user {
    margin-right: 20rem; /* Margin on the right for user messages on desktop */
    max-width: 40rem;
  }

  .message.bot {
    margin-left: 20rem; /* Margin on the left for bot messages on desktop */
    max-width: 40rem;
  }

  .chatbot-footer input[type="text"] {
    max-width: 55%;
  }

}
/* Section Two - About */
.section-two{
  display: flex;
  justify-content: center;
  padding-bottom: 5rem;
}

.about-us-box {
  border: 2px solid #43f9f6;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 80%; /* Default width for better responsiveness */
  max-width: 1200px; /* Maximum width */
  margin: 0 auto; /* Center the box */
  text-align: center;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(90deg, #7c4dff, #3efee8, rgb(236, 245, 69));
  padding: 0 1rem; /* Padding for responsiveness */
  box-sizing: border-box; /* Include padding and border in element's total width */
  backdrop-filter: blur(50px);
}

/* Media queries for responsiveness */
@media (max-width: 1200px) {
  .about-us-box {
    width: 90%; /* Adjust width for larger screens */
  }
}

@media (max-width: 992px) {
  .about-us-box {
    width: 95%; /* Adjust width for medium-sized screens */
  }
}

@media (max-width: 768px) {
  .about-us-box {
    width: 100%; /* Full width for smaller screens */
    padding: 0.5rem; /* Reduced padding for smaller screens */
  }
}

@media (max-width: 480px) {
  .about-us-box {
    padding: 0.5rem; /* Further reduced padding for mobile screens */
  }
}

.box-content {
  display: flex;
  flex-direction: column; /* Stack items vertically on small screens */
  align-items: center;
}

.left-content {
  width: 100%; /* Full width on smaller screens */
  text-align: center;
  padding-top: 2rem;
  font-weight: bold;
}

.left-content p {
  font-size: 2rem; /* Adjusted font size for responsiveness */
}

.left-content img {
  width: 40px; /* Adjusted size for better fit */
  height: 40px;
}

.right-content {
  text-align: center; /* Center text on small screens */
  width: 100%; /* Full width on smaller screens */
  padding: 0 0 1rem 0; /* Adjusted padding */
  line-height: 1rem;
  font-weight: bold;
}

.right-content p {
  margin-bottom: 10px;
}




.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.mx-2 {
  margin: 0 0.5rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.text-center {
  text-align: center;
}
