/* FooterContainer */
.footer-container {
    background-color: rgba(0, 0, 0, 0.5);
    color: azure;
    text-align: center;
  }
  
  /* FooterContent */
  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: azure;
  }
  
  /* FooterContact */
  .footer-contact {
    margin-bottom: 15px;
  }
  
  a {
    text-decoration: none;
    color:azure;
    margin: 0 10px;
    transition: color 0.3s ease;
  }
  
  


