/* src/styles/overlay-text.css */
.overlay-text {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    color: #f5f5f5;
    text-align: left;
  }
  
  .overlay-text h1 {
    font-size: 3rem;
    margin: 0;
    background: linear-gradient(45deg, #7c4dff, #3efee8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .overlay-text h2 {
    font-size: 8rem;
    font-weight: bolder;
    margin: 0;
    background: linear-gradient(
      90deg,
      #7c4dff 0%,
      #3efee8 14.28%,
      rgb(236, 245, 69) 28.57%,
      #3efee8 42.85%,
      #7c4dff 57.14%,
      #3efee8 71.42%,
      rgb(236, 245, 69) 85.71%,
      #7c4dff 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 700% 100%;
    animation: gradientScroll 70s linear infinite;
  }
  
  .overlay-text h3 {
    font-size: 2rem;
    margin: 0;
    background: linear-gradient(45deg, #7c4dff, #3efee8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  @keyframes gradientScroll {
    0% { background-position: 0% 50%; }
    100% { background-position: -700% 50%; }
  }
  