body {
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #F8EDED;
    color: #173B45;
}

header {   
    background-color: #173B45;
    color: #F8EDED;
    padding: 10px ;
    text-align: center;
}

h1 {
    margin: 0;
}

main {
    padding: 30px;
}



footer {
    text-align: center;
    padding: 10px 0;
    background: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    position: relative;
    bottom: 0;
    width: 100%;
}
