/* src/styles/section.css */
.section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    padding-top: 60px;
  }
  
  @media (max-width: 1200px) {
    .section {
      width: 90vw;
    }
  }
  
  @media (max-width: 992px) {
    .section {
      width: 80vw;
    }
  }
  
  @media (max-width: 768px) {
    .section {
      width: 70vw;
      padding-top: 40px;
    }
  }
  
  @media (max-width: 480px) {
    .section {
      width: 90vw;
      padding-top: 20px;
    }
  }
  